.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
eslint.config.mjs
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
images/file-browser.gif
.tmp-profile/**
.kilo/**
.github/**